<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-bytedance-union-ad"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>BytedanceUnionAd</name>
    <author>Eric Zhu</author>
    <description>Cordova Bytedance UnionAD Plugin.</description>
    <license>MIT</license>

    <repo>https://github.com/EricYChu/cordova-plugin-bytedance-union-ad.git</repo>
    <issue>https://github.com/EricYChu/cordova-plugin-bytedance-union-ad/issues</issue>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <js-module name="BytedanceUnionAd" src="www/bytedance-union-ad.js">
        <clobbers target="BytedanceUnionAd"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BytedanceUnionAd">
                <param name="ios-package" value="CDVBytedanceUnionAd"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVBytedanceUnionAd.h"/>
        <source-file src="src/ios/CDVBytedanceUnionAd.m"/>

        <header-file src="src/ios/Utils/BUDAnimationTool.h"/>
        <source-file src="src/ios/Utils/BUDAnimationTool.m"/>

        <framework src="StoreKit.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="WebKit.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AdSupport.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="Accelerate.framework" />
        <framework src="ImageIO.framework" />
        <framework src="libresolv.9.tbd" />
        <framework src="libc++.tbd" />
        <framework src="libz.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="libbz2.tbd" />
        <framework src="libxml2.tbd" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Bytedance-UnionAD" spec="~> 3.3.0.5" />
            </pods>
        </podspec>
    </platform>
</plugin>
